* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}
@font-face {
    font-family: "Faster One";
    src: url("./fonts/Faster_One/FasterOne-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
a {
    text-decoration: none;
    font-weight: bolder;
    color: rgb(7, 44, 49);
    transition: all 0.5s ease-out;
}
a:hover, a:focus {
    background-color: rgb(93, 156, 185);
    color: rgb(7, 44, 49);
}
header {
    position: sticky;
    top: -1px;
}
body {
    background-color: rgb(93, 156, 185);
}
.title {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 4vw;
    background-color: rgb(7, 44, 49);
}
h1 {
    margin: 0 10% 0 5%;
    font-family: "Faster One";
    color: rgb(93, 156, 185);
}
.logo {
    width: 15vw;
    margin: 0 0 0 3%;
}
nav {
display: flex;
}
.box-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 4vw;
    background-color: rgb(7, 44, 49);
    color: white;
}
.info {
    background-color: rgb(93, 156, 185);
    border: 2px solid rgb(7, 44, 49);
    border-bottom: none;
}
.rules {
    text-align: center;
}
.img-home,.img-contact {
    width: 30px;
    margin: 10px;
}
article {
    margin: 2% 5%;
    padding: 1vw;
    text-align: justify;
}
h2 {
    color:rgb(255, 255, 255);
    padding: 2% 0;
}
.table {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    text-align: center;
    border: 3px solid black;
    margin: 10% 0;
}
.box {
    border: 1px solid rgb(255, 255, 255);
    padding: 2%;
}
.b1 {
    background-color: rgb(7, 44, 49);
    color: rgb(255, 255, 255);
    font-weight: bold;

}
p {
    padding: 2%;
}
span {
    color: white;
    font-weight: bold;
}
@media screen and (min-width:550px) and (max-width:960px) {
    body {
        background-color: rgb(93, 156, 185);
    }
    .title {
        height: 180px;
    }
    h1 {
        margin: 10%;
    }
    .box-menu {
        height: 80px;
    }
    .info {
        background-color: rgb(93, 156, 185);
        border: 4px solid rgb(7, 44, 49);
        border-bottom: none;
    }
    .img-home,.img-contact {
        width: 50px;
        margin: 10px;
    }
    .table {
        margin: 3% 0;
    }
}